* {
    margin: 0;
    padding: 0;
}

body {
    display: flexbox;
    background-color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333333;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}